body {
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    width: 90%;
    margin: 40px auto;
    padding: 30px 40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    box-sizing: border-box;  
}


textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 14px;
    box-sizing: border-box;

}

button {
    margin-top: 20px;
    padding: 12px 25px;
    background: #0077ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #005fcc;
}

.result {
    margin-top: 25px;
    padding: 20px 25px;
    background: #e6f7ff;
    border-left: 6px solid #0077ff;
    border-radius: 6px;
    text-align: left;
}
